<mat-toolbar color="primary">
  <!-- <a class="title" href="/" style="list-style: none; color: #fff; text-decoration: none;">{{ title }}</a> -->
  <a class="title" href="/"><img role="img" aria-hidden="true"
      src="https://admin-qa.cloudlabs.ai/assets2/assets/img/new_cloudlabs_white.png" alt="logo" class="logo-default"
      style="margin-top: 7px !important; width: auto; height: 39px"></a>

  <div class="toolbar-spacer"></div>

  <div style="display:block; margin-left: 80%;">

    <a mat-button [routerLink]="['user']">User</a>

    <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">Login</button>
    <button mat-raised-button *ngIf="loginDisplay" (click)="logout()">Logout</button>
  </div>
</mat-toolbar>
<div class="container">
  <router-outlet *ngIf="!isIframe"></router-outlet>
</div>